$black: black;
// $dark: #191919;
$dark:  black;
$secondary: #2D4263;
$orange: #FCB401;
$blueHover: #1792bf;
$blue: #19c0ff;
$red: #f82b60;
$orangeHover: #9b321e;
$clear: #ECDBBA;
$white: white;
$padding-header: 80px;

