@import "./global.scss";
header{
    width: 100%;
    height: 100%;
    background-color:$dark;
    color: $clear;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    }
.headerContainer{
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 999;
    }

.MenuDesplegable-Container{
    height: 50px;
    width: 50px;
}
.MenuDesplegable{
    height: 50px;
    width: 50px;
}